/* ------- basic ------- */

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #323232;
  margin: 0px;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0;
}

/* ------- nav ------- */

#nav-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

#nav-bar a {
  color: white;
}

.socials {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}

.icon {
  display: inline-block;
  padding-right: 10px;
}

.icon i {
  font-size: 32px;
}

.nav-links-container {
  float: right;
  margin-top: 15px;
}

.nav-link {
  padding: 10px;
  font-size: 15px;
}

/* ------- first ------- */

#section1 {
  height: 100vh;
  background: url("samuel-regan-asante-I_ml3G7gSAY-unsplash.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

.intro-container {
  background-color: rgba(0, 0, 0, 0.8);
  border: 5px white solid;
  color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;

  text-align: center;
  padding: 50px;
}

.name {
  font-family: "Roboto Mono", monospace;
  font-size: 115px;
  font-weight: bold;
  letter-spacing: 10px;
}

.tagline {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

/* ------- about ------- */

#section2 {
  background-color: rgb(79 160 160);
}

.container2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20vh 0;
  width: 800px;
}

.block_about {
  background-color: white;
  display: block;
  padding: 50px;

  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  text-align: center;
}

/* ------- skills ------- */

#section3 {
  background-color: rgb(73 68 70);
}

.container3 {
  margin-left: auto;
  margin-right: auto;
  padding: 20vh 0;
  width: 800px;
}

.block_skills {
  background-color: white;
  display: block;
  padding: 50px;
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
}

/* ------- projects ------- */

#section4 {
  background-color: rgb(193 135 65);
}

.container4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20vh 0;
  width: 800px;
}

.block_proj h1 {
  color: #323232;
}

.block_proj {
  background: #ffffff;
  display: block;
  padding: 50px;

  color: #323232;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  text-align: center;
}

.block_proj:not(.last) {
  margin-bottom: 50px;
}

/* ------- resume ------- */

#section5 {
  background-color: rgb(29 13 47);
}

.container5 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 150px;
}

.container5 .text {
  display: block;
  padding: 50px;
  background-color: white;
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
}

/* ------- creds ------- */

.container0 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}

.container0 .text {
  display: block;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  color: #4b4b4b;
}
